@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(0, 5 , 6), rgb(12, 12, 12));
    font-size: 14px;
    color: white;
}